<h1 align="center">Todos</h1>

<p>
  Dear <%= @user.name %>,
</p>

<p>
    Welcome to the Todos! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>